.animated-text {
	color: $white;
	text-align: center;
	margin: auto;
	animation: example 10s linear 2s 20 alternate;
}
@keyframes example {
	0% {
		opacity: 0.1;
		transform: translate(0%, 50%);
		background-color: blue;
	}

	50% {
		opacity: 0.5;
		transform: translate(0%, 100%);
		background-color: green;
	}

	100% {
		opacity: 0.1;
		transform: translate(0%, 0%);
		background-color: red;
	}
}
